@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');


.container {  
  font: 1em sans-serif;
  background-color: #fff;
  color: #333;
  line-height: 1.6;
}


.header {
  display: flex;
  justify-content: space-between; /* Places items on either end of the line */
  align-items: center; /* Aligns items vertically in the center */
  padding: 0.2rem;
}

.headerTitle {
  font-size: 4rem;
  font-family: 'Pixelify Sans', cursive;
}

.headerAuthor {
  font-size: 3.5rem;
  font-family: 'Pixelify Sans', cursive;
  z-index: 2;
}

.header img {
 margin-right: 1.5rem;
}

.lottieContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.icon{
  position: absolute;
  width: 300px;
  height: 300px;
  z-index: 1;
}

.aboutMeContainer {
  text-align: left;
  padding: 4rem 2rem;
  /* background-color: #f4f4f4; */
  display: flex;
  flex-direction: row;
  align-items: center; /* Align items vertically in the center */
  justify-content: space-between; /* Distribute space between items */
}

.aboutMeContainer h2 {
  margin-right: 15rem; 
  font-size: 2rem;
  white-space: nowrap;
  color: rgb(4, 4, 4);
  font-family: 'Pixelify Sans', cursive;
}

.aboutMeContainer p {
  font-size: 1rem;
}

.aboutMeContainer a {
  text-decoration: none;
  color: #ee7575;
}

.stack {
  padding: 2rem;
}

.stackContainer {
  display: flex;
  gap: 2rem;
  text-align: left;
  padding: 1rem ;
  flex-direction: row;
  align-items: center; /* Align items vertically in the center */
  justify-content: space-between;
}



.stack h2 {
  font-size: 2rem;
  color: rgb(4, 4, 4);
  font-family: 'Pixelify Sans', cursive;
  margin-right: 2rem;
}

.techContainer {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 2rem;
}

.techStackButton {
  padding: 10px 20px;
  margin: 0.5rem;
  border: none;
  border-radius: 0px;
  background-color: #007BFF;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.techStackButton:hover {
  background-color: #0056b3;
}

.techStackButton:active {
  background-color: #004080;
}

.techStackButton {
  padding: 10px 20px;
  margin: 0.5rem;
  border: none;
  border-radius: 0px;
  background-color: #ee7575;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.techStackButton:hover {
  background-color: #f3abab;
}

.techStackButton:active {
  background-color: #004080;
}

.techStackButton2 {
  padding: 10px 20px;
  margin: 0.5rem;
  border: none;
  border-radius: 0px;
  background-color: #007BFF;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.techStackButton2:hover {
  background-color: #0056b3;
}

.techStackButton2:active {
  background-color: #004080;
}

.techStackButton3 {
  padding: 10px 20px;
  margin: 0.5rem;
  border: none;
  border-radius: 0px;
  background-color: #459116;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.techStackButton3:hover {
  background-color: #326911;
}

.techStackButton3:active {
  background-color: #004080;
}

.techStackButton4 {
  padding: 10px 20px;
  margin: 0.5rem;
  border: none;
  border-radius: 0px;
  background-color: #dc6520;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.techStackButton4:hover {
  background-color: #eb944d;
}

.techStackButton4:active {
  background-color: #004080;
}

.techStackButton5 {
  padding: 10px 20px;
  margin: 0.5rem;
  border: none;
  border-radius: 0px;
  background-color: #7e20dc;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.techStackButton5:hover {
  background-color: #3c096f;
}

.techStackButton5:active {
  background-color: #004080;
}



.projects {
  padding: 2rem;
}

.projects h2 {
  text-align: left;
  font-size: 3rem;
  margin-bottom: 2rem;
  color: rgb(4, 4, 4);
  font-family: 'Pixelify Sans', cursive;
}

.projectGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 3rem;
}

.project {
  text-align: justify;
  /* background-color: #f9f9f9;*/
  padding: 1rem;
  border-radius: 10px;
}

.project a {
  text-decoration: none;
  color: rgb(4, 4, 4);
}

.project img {
  height: auto;
  border-radius: 10px;
}

.project h3 {
  font-size: 1.5rem;
  margin: 1rem 0;
  text-decoration: none;
  color: rgb(4, 4, 4);
  font-family: 'Pixelify Sans', cursive;
}

.footer {
  padding: 1rem;
  background-color: #dedddd;
  color: rgb(4, 4, 4);
}

.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;  /* Creates even spacing between the buttons */
}

.getInTouch{
font-size: 1.5rem;
font-family: 'Pixelify Sans', cursive;
}

.contact {
  display: flex;
  justify-content: space-between;  /* Creates even spacing between the buttons */
  gap: 1rem;  /* Adds space between buttons (adjust as needed) */
  align-items: center;
  
}

.footterButtons {
  display: flex;
  overflow: hidden;
}

.buttonFooter1 {
  background-color: #ee7575;
  color: white;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  margin: 0.5rem;
  border-radius: 0px;
  transition: background-color 0.3s ease;
  white-space: nowrap;
  
}

.buttonFooter1:hover {
  background-color: #3c3d3e;
}

.buttonFooter2 {
  background-color: #459116;
  color: white;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  margin: 0.5rem;
  border-radius: 0px;
  transition: background-color 0.3s ease;
  white-space: nowrap;
}

.buttonFooter2:hover {
  background-color: #3c3d3e;
}

.buttonFooter3 {
  background-color: #7e20dc;
  color: white;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  margin: 0.5rem;
  border-radius: 0px;
  transition: background-color 0.3s ease;
  white-space: nowrap;
}

.buttonFooter3:hover {
  background-color: #3c3d3e;
}




@media (max-width: 600px) {
  .header {
      flex-direction: row;
      align-items: center;
  } 

  .header img {
      margin-right: 0;
  }

  .headerTitle {
      font-size: 3rem;
  }

  .headerAuthor {
      font-size: 2.5rem;
  }

  .aboutMeContainer {
      flex-direction: column;
      align-items: center;
      text-align: justify;
  }

  .aboutMeContainer h2 {
      margin-right: 0;
  }

  .stackContainer {
      flex-direction: column;
      align-items: center;
  }

  .stack h2 {
      margin-right: 0;
  }

  .techContainer {
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

  .tech-stack-button {
    width: 100%;
    text-align: center;
  }

  .projects h2 {
      font-size: 2rem;
      text-align: center;
  }

  .projectGrid {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }   

  .project {
      text-align: justify;
  }

  .footer {
      text-align: center;
      width: 100%;
  }   

  .contact {
      flex-direction: column;
  }

  .footterButtons {
      display: flex;
      height: 100%;
      flex-wrap: wrap;
      overflow: hidden;
  }
  .buttonFooter1 {
      width: 100%;
      white-space: nowrap;
  }

  }

  .buttonFooter2 {
      width: 100%;
      white-space: nowrap;
  }

  .buttonFooter3 {
      width: 100%;
      white-space: nowrap;
  }